@model ProductModel
@*

*@


<div class="container">
    <h2 class="text-center">Update Product</h2>
    <form method="post" action="Update">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ProductName">Product Name</label>
            <input type="text" class="form-control" asp-for="ProductName" />
        </div>
        <div class="form-group">
            <label asp-for="SupplierId">Supplier ID</label>
            <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierData" id="ddlSupplierId"></select>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice">Unit Price</label>
            <input type="text" class="form-control" asp-for="UnitPrice" type="number" step="0.01" />
        </div>
        <div class="form-group">
            <label asp-for="Package">Package</label>
            <input type="text" class="form-control" asp-for="Package" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>
